services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.137.0
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    command: --config /etc/otel/config.yaml
    environment:
      - JAEGER_ENDPOINT=jaeger:4317
      - SPLUNK_ACCESS_TOKEN
      - SPLUNK_REALM=us0
      - SPLUNK_HEC_TOKEN
      - SPLUNK_HEC_URL
    ports:
      - "1777:1777"   # pprof extension
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "13133:13133" # health_check extension
      - "55679:55679" # zpages extension
      - "4317:4317"   # OTLP gRPC receiver
      - "14268:14268" # Jaeger Thrift over HTTP receiver
      - "8889:8889"   # Prometheus metrics exporter (scrape endpoint)
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:1.74.0
    ports:
      - "16686:16686"
