* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
