name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - uses: lycheeverse/lychee-action@v2.1.0
        id: lychee
        with:
          args: >-
            -v -n "*.md" "**/*.md"
            --exclude "https://ingest.us0.signalfx.com.*"
            --exclude "http://localhost*"
      - name: fail for link errors
        run: exit ${{ steps.lychee.outputs.exit_code }}
  goyek:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            run-script: ./goyek.sh -v ci
          - os: windows-2022
            run-script: .\goyek.ps1 -v -skip-docker ci
          - os: macos-14
            run-script: ./goyek.sh -v -skip-docker ci
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-go@v5.1.0
        with:
          go-version: '1.23'
          check-latest: true
      - run: ${{ matrix.run-script }}
      - uses: codecov/codecov-action@v5.0.0
        with:
          fail_ci_if_error: true
          files: ./coverage.out
          flags: ${{ runner.os }}

  compatibility-test:
    strategy:
      matrix:
        go-version:
        - '1.22'
        - '1.23'
        os: [ubuntu-20.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4.2.2
    - uses: actions/setup-go@v5.1.0
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
    - run: make test-short

  compatibility-check:
    runs-on: ubuntu-24.04
    if: ${{ always() }}
    needs: [compatibility-test]
    steps:
      - name: Test if compatibility-test passed
        run: |
          echo ${{ needs.compatibility-test.result }}
          test ${{ needs.compatibility-test.result }} == "success"
