name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-links:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - uses: lycheeverse/lychee-action@v2.7.0
        id: lychee
        with:
          args: >-
            -v -n "*.md" "**/*.md"
            --exclude "https://ingest.us0.signalfx.com.*"
            --exclude "http://localhost*"
      - name: fail for link errors
        run: exit ${{ steps.lychee.outputs.exit_code }}
  goyek:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            run-script: ./goyek.sh ci -v
          - os: windows-2022
            run-script: .\goyek.ps1 ci -v -skip-docker
          - os: macos-14
            run-script: ./goyek.sh ci -v -skip-docker
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.25'
          check-latest: true
      - run: ${{ matrix.run-script }}
      - uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: ./coverage.out
          flags: ${{ runner.os }}

  compatibility-test:
    strategy:
      matrix:
        go-version:
        - '1.24'
        - '1.25'
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-go@v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
    - run: make test-short

  compatibility-check:
    runs-on: ubuntu-24.04
    if: ${{ always() }}
    needs: [compatibility-test, goyek]
    steps:
      - name: Test if compatibility-test passed
        run: |
          echo compatibility-test = ${{ needs.compatibility-test.result }} 
          test ${{ needs.compatibility-test.result }} == "success"
          echo goyek = ${{ needs.goyek.result }}
          test ${{ needs.goyek.result }} == "success"
